
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
@*<button class="btn btn-primary" onclick="DownloadExcelBlogList">Excel Listesini İndir</button>
    <script>
        function DownloadExcelBlogList() {
            window.open("/Admin/Blog/ExportStaticBlogList");
        }
    </script>*@
<a href=" /Admin/Blog/ExportStaticBlogList" class="btn btn-primary">Excel Listesini İndir</a>