
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleListExcel</h1>
<br />
<a href=" /Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>
