
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span> Dashboard
        </h3>

    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Blog Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">    @ViewBag.toplamBlogSayisi</h2>
                    <h6 class="card-text">Core 5.0 Proje Kampı</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Blog Sayınız <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">  @ViewBag.yazarBlogSayisi</h2>
                    <h6 class="card-text">Core 5.0 Proje Kampı</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Kategori Sayısı  <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.toplamKategoriSayisi</h2>
                    <h6 class="card-text">Core 5.0 Proje Kampı</h6>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("BlogListDashboard")
    @await Component.InvokeAsync("WriterAboutOnDashboard")
    @await Component.InvokeAsync("CategoryListDashboard")

    @*<script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>*@
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/writer/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    @*<script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>*@
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/writer/assets/js/dashboard.js"></script>
    <script src="~/writer/assets/js/todolist.js"></script>

   

 
    <!-- End custom js for this page -->
</body>
</html>

