@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>AllNotification</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Bildirim</th>
        <th>Tarih</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NotificationID</td>
            <td>@item.NotificationDetails</td>
            <td>@item.NotificationDate.ToShortDateString()</td>
        </tr>
    }
</table>
