@model IEnumerable<EntityLayer.Concrete.Comment>


<div class="comment-top">
    <h4>Yorumlar</h4>
    @foreach (var item in Model)
    {


        <div class="media">
            <img src="~/BlogProjectTema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">


                <h5 class="mt-0">@item.CommentUserName</h5>
                @if (item.CommentContent == null)
                {
                    <p>a</p>

                }
                else
                {
                    <p>
                        @item.CommentContent
                    </p>
                }


            </div>
        </div>
    }
</div>