
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />

<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-info">Yazar Sil</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br />
<br />

<div id="writerlist">
    Buraya yazarlar gelecek
</div>
<br />
<div id="writerget">
    Buraya 1 yazar gelecek
</div>
<br />
<div>
    <input type="text" id="id" placeholder="Yazar Id Değerini Girin" class="form-control" />
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtWriterId" placeholder="Yazar ID" />

    <input type="text" class="form-control" id="txtWriterName" placeholder="Yazar Adı" />
    <br />

</div>
<br />
<div>
    <input type="text" class="form-control" id="txtId" placeholder="Silinecek Yazar ID" />
</div>
<br />
<input type="text" id="txtId1" class="form-control" placeholder="Güncellenecek ID" />
<input type="text" id="txtName1" class="form-control" placeholder="Güncellenecek Ad" />
<br />
@section scripts{
    <script>


        /*      const { load } = require("mime");*/

        /*        const { writer } = require("repl");*/

        $('#btngetlist').click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let writers = jQuery.parseJSON(func);
                    console.log(writers);
                    let tableHtml = "<table class=table table-bordered> <tr><th>Yazar ID</th> <th>Yazar Adı</th> </tr>";
                    $.each(writers, (index, value) => {
                        tableHtml += `<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`
                    });
                    tableHtml += "</table>";
                    $("#writerlist").html(tableHtml);

                }
            });
        });

        $('#btngetbyid').click(x => {
            let id = $("#id").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById/",
                data: { id: id },
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    console.log(writer);

                    let getValue = `<table class=table table-bordered> <tr> <th> Yazar ID </th> <th>Yazar Adı</th></tr> <tr><td>${writer.Id}</td><td>${writer.Name}</td></tr></table>`;
                    $("#writerget").html(getValue);
                }
            })
        });

        $('#btnaddwriter').click(function () {

            let writer = {
                Id: $("#txtWriterId").val(),
                Name: $("#txtWriterName").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar Eklendi");
                }
            })

        });
        $('#btndeletewriter').click(x => {
            let id = $("#txtId").val();

            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    /* let result = jQuery.parseJSON(func);*/
                    alert("Yazar Silindi");
                }
            });
        });

        $('#btnupdatewriter').click(function () {

            let writer = {
                Id: $("#txtId1").val(),
                Name: $("#txtName1").val()

            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (funk) {
                    alert("Güncelleme yapıldı");
                }
            });

        });

    </script>
}