
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />

<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
<br />
<br />

<div id="writerlist">
    Buraya yazarlar gelecek
</div>
<br />
<div id="writerget">
    Buraya 1 yazar gelecek
</div>
<br />
<div>
    <input type="text" id="id" placeholder="Yazar Id Değerini Girin" class="form-control" />
</div>
@section scripts{
    <script>
        /*        const { writer } = require("repl");*/

        $('#btngetlist').click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let writers = jQuery.parseJSON(func);
                    console.log(writers);
                    let tableHtml = "<table class=table table-bordered> <tr><th>Yazar ID</th> <th>Yazar Adı</th> </tr>";
                    $.each(writers, (index, value) => {
                        tableHtml += `<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`
                    });
                    tableHtml += "</table>";
                    $("#writerlist").html(tableHtml);

                }
            });
        });

        $('#btngetbyid').click(x => {
            let id = $("#id").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById/",
                data: { id: id },
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    console.log(writer);

                    let getValue = `<table class=table table-bordered> <tr> <th> Yazar ID </th> <th>Yazar Adı</th></tr> <tr><td>${writer.Id}</td><td>${writer.Name}</td></tr></table>`;
                    $("#writerget").html(getValue);
                }
            })
        })
    </script>
}