@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>
            Kategori
        </th>
        <th>
            Açıklama
        </th>
        <th>
            Durum
        </th>
        <th>
            Detay
        </th>
        <th>
            Sil
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
