<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="https://www.linkedin.com/in/kadirdemirel/">
                <i class="fab fa-linkedin"></i>
                <span class="count">317K</span> Linkedln Takip Et
            </a>
        </li>
        <li>
            <a class="facebook" href="https://github.com/kadirdemirel">
                <i class="fab fa-github"></i>
                <span class="count">218k</span> GitHub Takip Et
            </a>
        </li>
    
      

    </ul>
</div>