@using EntityLayer.Concrete
@model List<MessageTwo>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Gelen Kutusu</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.MessageId</th>
            <td>@item.Subject</td>
            <td>@item.SenderUser.WriterName</td>
            <td>@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>


            <td><a href="~/Message/MessageDetails/@item.MessageId" class="btn btn-danger">Mesajı Aç</a></td>
        </tr>
    }
</table>
<a href="~/Blog/BlogAdd/" class="btn btn-primary">Yeni Mesaj Oluştur</a>

